*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.btn-grp{
    position: relative;
    top: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
